<div class="navbar nav">
  <h4><%= link_to "Wikinimous", articles_path %></h4>
  <h4>New Article</h4>
</div>
<h3><a class="text" href="https://wagon-wikinimous.herokuapp.com/articles/790501">Click here for more information</a></h3>


